<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="tabclick(false)">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="tabclick(false)">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Report a crime</ion-label>
    </ion-tab-button>
     
    <ion-tab-button tab="tab3" (click)="tabclick(true)">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info Kit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" (click)="tabclick(false)">
      <ion-icon name="people-outline" ></ion-icon>
      <ion-label>Family</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5" (click)="tabclick(false)">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<!-- 
 
<super-tabs (tabChange)="tabChange($event)">
  <super-tabs-toolbar slot="bottom" color="light">
    <super-tab-button>
     
      <ion-label>Home</ion-label>   
       
    </super-tab-button>
    <super-tab-button>
       
      <ion-label>Report a crime</ion-label>    
    </super-tab-button>
    <super-tab-button>
       
      <ion-label>Info Kit</ion-label>    
    </super-tab-button>
    <super-tab-button>
       
      <ion-label>Family</ion-label>    
    </super-tab-button>
    
  </super-tabs-toolbar>
  <super-tabs-container  swipe-enabled = "false"  >
    <super-tab>
      <ion-nav [root]="tab1" [rootParams]="{ hello: 'world' }"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="tab2" [rootParams]="{ hello: 'world' }"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="tab3" [rootParams]="{ hello: 'world' }"></ion-nav>
    </super-tab>
 
  </super-tabs-container>
</super-tabs> -->
