<ion-header>
  <!-- <ion-toolbar>
    <ion-title>approval</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/icon/logo.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="dark">Your account will be reviewed by our team.</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" (click)="signout()">Signout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
