<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List of crimes that i have reported
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card *ngFor="let item of myreports;index as i">
    <ion-card-header>
      <ion-card-subtitle>{{item.timelapse}}</ion-card-subtitle>
      <ion-card-title>{{item.crime_type}}</ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col>
        <ion-label style="padding-left: 10px;" *ngIf="item.confirmed == 1" color="success">Confirmed</ion-label>
        <ion-label style="padding-left: 10px;" *ngIf="item.confirmed == 0" color="medium">Not Yet Confirmed</ion-label>
      </ion-col>
    </ion-row>
    <ion-card-content [innerHTML]="item.description">
      
    </ion-card-content>
    <img (click)="viewphoto(item.crimephoto.name100)" *ngIf="item.crimephoto" [src]= "request.server + item.crimephoto.name50" />
  </ion-card>

  

  <ion-button class="report-btn" color="primary" (click)="openPopUp()">Report Crime</ion-button>
</ion-content>
