.report-btn{
    position: fixed;
    clear: both;
    bottom: 10px;
    width: 90%;
    left: 5%;
}img{
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    max-width: 80%;
    
}