<ion-header>
  <!-- <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>


  <ion-tabs>
    <ion-tab-bar slot="top" color="secondary">
      <ion-tab-button (click)="switchtab('tracking')">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>My Family</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button (click)="switchtab('me')">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>whos can locate me</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="switchtab('requests')">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Requests</ion-label>
        <ion-badge color="danger" *ngIf="requestnum">{{requestnum}}</ion-badge>
      </ion-tab-button>
  
       
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
