<ion-header>
  <ion-toolbar>
    <ion-title>My Families</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
     
  
    
  
  
    
  
    <ion-item lines="full" *ngFor="let item of mytracking;index as i">
      <ion-avatar slot="start">
        <img *ngIf="item.tracked.profile.name20"[src]= "request.server + item.tracked.profile.name20" (click)="viewphoto(item.tracked.profile.name20)">
        <img *ngIf="!item.tracked.profile.name20" src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" />
      </ion-avatar>
      <ion-label>
        {{item.tracked.fname}} {{item.tracked.lname}}
      </ion-label>
      <ion-button color="success" (click)="callstation(item.tracked.contact)">CALL</ion-button>
       
    </ion-item>
  
  </ion-list>

  <ion-button class="report-btn" color="primary" (click)="presentPopover()">Add Family</ion-button>
  
</ion-content>
