<ion-content class="ion-padding">

	<ion-card class="animated zoomIn delay-10s">
	  <ion-card-header class="scroll">
		<ion-label>Scan your ID</ion-label>
	  </ion-card-header>
	  <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="image-btn-wrapper" *ngIf="!imgsrcfront" (click)="scanfront()">
                <span>Add Front View</span>
              </div>
              <div class="img-wrapper" *ngIf="imgsrcfront">
                <img [src]="imgsrcfront" (click)="viewphoto(false)" />
                <span>Front View</span>
                <ion-label color="primary" (click)="scanfront()">Take Again</ion-label>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <div class="image-btn-wrapper" *ngIf="!imgsrcback" (click)="scanback()">
                <span>Add Back View</span>
                
              </div>
              <div class="img-wrapper" *ngIf="imgsrcback">
                <img [src]="imgsrcback" (click)="viewphoto(true)" />
                <span>Back View</span>
                <ion-label color="primary" (click)="scanback()">Take Again</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
	  </ion-card-content>
  
	</ion-card>
  
	<ion-list class="buttoms">
	  <ion-row>
		<ion-col col-2>
		  <ion-button class="animated zoomInUp delay-1000s" fill="outline" shape="round" size="default" (click)="back()">
			back
			<ion-icon slot="start" name="arrow-round-back"></ion-icon>
			<div></div>
		  </ion-button>
		</ion-col>
  
		<ion-col col-2>
		  <ion-button class="animated zoomInUp delay-1000s" size="default" [disabled]="disabled"
			shape="round" (click)="save()">
			Submit
		  </ion-button>
		</ion-col>
  
	  </ion-row>
  
	</ion-list>
  
  
  </ion-content>