<ion-header>
  <ion-toolbar>
    <ion-title>Whos Tracking me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
     
  
    
  
  
    
  
    <ion-item lines="full" *ngFor="let item of trackingme;index as i">
      <ion-avatar slot="start">
        <img *ngIf="item.tracker.profile.name20" [src]= "request.server + item.tracker.profile.name20" (click)="viewphoto(item.tracker.profile.name20)">
        <img *ngIf="!item.tracker.profile.name20" src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" />
      </ion-avatar>
      <ion-label>
        {{item.tracker.fname}} {{item.tracker.lname}}  
      </ion-label>
      <ion-button color="success" (click)="callstation(item.tracker.contact)">CALL</ion-button>
       
    </ion-item>
  
  </ion-list>

</ion-content>
