<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <iframe *ngIf="global.playvideo" id="youtube_player" class="yt_player_iframe"  style="height: 100vh;width: 100%;" [src]="src | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
